.products {
  background: #920F0F;
  display: flex;
  gap: 1rem;
  padding: 2rem 2rem;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.left-t {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: #fff;
  margin-top: 4rem;
}

.left-t > :nth-child(1) {
  color: white;
  font-weight: bold;
  font-size: 4rem;
}

.left-t > :nth-child(2),
.left-t > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}

.left-t > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}

.left-t > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}

.right-t {
  flex: 1;
  position: relative;
}

.leftArrow {
  transform: rotate(180deg);
}

.right-t > img {
  position: absolute;
  width: 17rem;
  height: 25rem;
  object-fit: cover;
  right: 8rem;
  top: 6rem;
}

.right-t > :nth-child(1) {
  position: absolute;
  width: 17rem;
  height: 25rem;
  /* border: 2px solid rgb(170, 9, 36); */
  background-color: transparent;
}

.right-t > :nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 24rem;
  right: 7rem;
  top: 7rem;
  background: rgb(128, 30, 54);
}

.arrows {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.arrows > img {
  width: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .products {
    flex-direction: column;
  }

  .left-t > :nth-child(2),
  .left-t > :nth-child(3) {
    font-size: xx-large;
  }

  .right-t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .right-t > div {
    position: relative;
    display: none;
  }

  .right-t > img {
    top: 0;
    right: 0;
    position: relative;
    align-self: center;
  }

  .right-t > :last-child {
    display: flex;
    bottom: 0;
    left: 0;
  }

  .arrows {
    gap: 2rem;
  }
}
