@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  button {
    @apply text-white border bg-[#920F0F] border-[#920F0F]
    hover:bg-transparent hover:text-[#920F0F] rounded-full;
  }
}

body{
  overflow-x: hidden;
}

.iframe-first-container {
  text-align: center;
  background-color: rgba(254, 239, 229, 1) !important;
  max-width: 540px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #feefe5;
  border-style: solid;
}

.iframe-second {
  font-size: 16px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #661d1d;
  background-color: #ffeded;
  border-radius: 3px;
  border-color: #ff4949;
}

.iframe-three {
  font-size: 12px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #8390a4;
  text-align: left;
}

.iframe-four {
  font-size: 16px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #661d1d;
  background-color: #ffeded;
  border-radius: 3px;
  border-color: #ff4949;
}

.iframe-five {
  font-size: 12px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  color: #8390a4;
  text-align: left;
}

.iframe-six {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  font-family: "Futura", sans-serif;
  color: #ffffff;
  background-color: #920f0f;
  border-radius: 20px;
  border-width: 0px;
}

